@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display');

body {
  /* background: url("../img/contacto.png"); */
  background-color: #46b39c;
  /* border: 1px solid red; */
  /* height: 100vh; */
}

.logo{
  margin-top: 50px;
    width: 72px; 
    height: 72px;
}
.text-center{
    width: 40vw;
    margin: 0 auto;
}

.subnombre{
    margin-bottom: 5px;

}

@media (max-width: 950px) {
    .text-center {
      width:70vw;
  }
}

.enviar{
  margin-top: 25px;
  margin-bottom: 50px;
}

footer{
  background-color:  #4c3673d4;
}
.navbar-brand{
    font-family: 'Luckiest Guy';
    font-size: 2rem;
    color: #ff9800 !important;
} 
.bg-dark {
    background-color: #4c3673d4!important;
}

.float-left{
  width: 9%;
}

.namber{
  font-family: 'Luckiest Guy';
  color: #ff9800 !important;
}