@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display');

body {
  /* background: url("../img/contacto.png"); */
  background-size: cover;
  background-color: #46b39c;
  /* border: 1px solid red; */
  /* height: 100vh; */
}

#espacio{
  margin-top: 30px;
}

/* .subnombres{
  font-weight: bold;
} */

h1{
  text-align: center;
  /* font-weight: bold; */
}

button{
  margin-top: 30px;
  /* border:1px solid red; */
}

<<<<<<< HEAD
footer{
  background-color: #343a40;
  margin-top: 50px;
  /* border: 1px solid rgb(0, 255, 170); */
}

/* #a{
  margin: 0 auto;
  width: 30vw;
} */
=======
.navbar-brand{
    font-family: 'Luckiest Guy';
    font-size: 2rem;
    color: #ff9800 !important;
} 
.bg-dark {
    background-color: #4c3673d4!important;
}

>>>>>>> 770e08b6b1bb59f60bc2d5810d19e066e9e32ccb
